
.custom-auth-header {
    filter: brightness(0.9);
    background: url('../../assets/img/theme/login_background.jpg') no-repeat fixed center !important;
}

.custom-home-header {
    background: url('../../assets/img/theme/login_background.jpg') no-repeat fixed center !important;

}