.page-not-found {
    &__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 0.5rem;

        > * {
            margin: 0;
        }

        > h1 {
            background: linear-gradient(#cc0694, #cf132c, #cc0694);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            height: fit-content;
        }

        > h2 {
            font-size: 24px;
        }

        > p {
            font-size: 1rem;
            text-align: justify;
        }
    }

    &__panel {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        > button:first-child {
            margin-right: 1rem;
        }
    }
}
