.home-search-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 3rem;
    max-width: 1200px;
    min-height: 360px;

    background: url("../../../img/svg/tutor-search-bg.svg") no-repeat center !important;

    &__title {
        color: #fefefe;
        font-family: "Open Sans", sans-serif;
        font-size: 2rem;
    }
    
    &__description {
        margin: 0;
        color: #fefefe;
        font-size: 16px;
    }
}
