.full-page-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #1e6fcc;
    animation: slowShow 1s;

    &__content {
        color: #fff;
    }

    &__icon {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    &__icon div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #fff;
        animation: loaderEffect 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    &__icon div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }
    &__icon div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }
    &__icon div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
}

@keyframes loaderEffect {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slowShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
